<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- {%load static%} -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-sacale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styless.css">
        <title>Document</title>
        <!-- {%if request.session.Email%}
        <span>{{request.session.Email}}</span> -->
    </head>

<body>
    <header class="header">
        <div><!-- se utiliza para hacer diciciones no se recomienda usar muchas veces en el codigo por buenas practicas -->
            <h1 class="titulo">Bienvenido Administrador</h1><!-- se usa para los titulos va del 1 al 6 varia los tamaños -->
        </div>
        <div class="logo"></div>


    </header>
    <main>
    
            <div class="container-buttons"> 
                <div class="usuarios-buttons"><a href="/formulario/">Crear Usuario</a> <a href= "nombre del archivo.html">Modificar Usuarios</a> <a href="/cliente/">Consultar Usuario</a> </div>
                <div class="empresas-botones"> <a href="">Crear Empresa</a> <a href= "nombre del archivo.html">Modificar Empresa</a> <a href="">Consultar Empresa</a></div>
            </div>
    </main>
</body>

<footer><!-- se usa para los pies de paginas -->

</footer>
        
</html>