.header{/*modifica la clase header del archivo html*/
    background-color: rgb(0, 162, 255);/*se asigna color a la clase*/
    height: 100x;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo{
    background-color: rgb(241, 15, 15);
    width:100%;
    height: 100%px;
    display:inline-block;
    font-size: 40px;
    font-weight: bolder;
}

.logo{/*modifica en donde ira el logo*/
    background-image: url('../imagenes/Logo.jpg');
    background-color: rgb(255, 255, 255);
    width:301px;
    height: 172px;
    display:inline-block;

}

container-buttons {
    display: flex;
}

/*
.nav1{
    background-color: rgb(255, 0, 191);
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 5px;
   
}

.nav2{/*
    background-color: rgb(51, 255, 0);
    width:100;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    */
}
ul{/**/
    background-color: rgb(0, 255, 255);
    width: 100%;/*pone el ancho al 100%*/
    display: flex;
    justify-content: space-evenly;/*separa las casillas con distancias iguales*/
}

li{/*modifca la parte donde estan los link*/
    display: inline;
    background-color: rgba(241, 248, 248, 0.863);
    bottom: 40px;
    width: 160px;
    margin: 5px;/*crea margen*/
    text-align: center;/*ajusta el texto*/
    border-radius: 5px;/*se le da la forma ovalada al boton*/
    
}
a{/*modifica todo los lugares donde esta esta clase*/
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}